<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Parallel Suite" parallel="classes" verbose="4" >

    <listeners>
        <listener class-name="com.epam.testng.listners.TestNgListener"> </listener>
    </listeners>
    <packages>
        <package name="com.epam.testng.tests"></package>
    </packages>
    <test name="Test long values">
        <groups>
            <run>
                <include name="longValues"/>
            </run>
        </groups>
    </test>
    <test name="Test double values">
        <groups>
            <run>
                <include name="doubleValues"/>
            </run>
        </groups>
    </test>
    <test name="Test boolean values">
        <groups>
            <run>
                <include name="boolean"/>
            </run>
        </groups>
    </test>


</suite>
